<?xml version="1.0" encoding="UTF-8" ?>
<%@ page language="java" contentType="text/html; charset=UTF-8"
    pageEncoding="UTF-8"%>
<%@ taglib  prefix="s" uri="/struts-tags"  %>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" href="style/global.css" type="text/css" media="screen" />
<link rel="stylesheet" href="style/struts.css" type="text/css" media="screen" />
<link rel="shortcut icon" type="image/ico" href="images/favicon.ico" />
<script language="JavaScript" src="scripts/prototype.js"></script>
<title>insert list  page title</title>
</head>
<body>

 <h1>${name} 列表页面</h1>
 <s:actionerror />
<s:fielderror></s:fielderror>
 #set($name = $model.VariableName)
<div style="width:100%">
<table class="streamlined" border="1" cellspacing="0" cellpadding="0"  style="border: solid 1px;">
  <thead>
	<tr>
	#foreach($field in $model.Fields)
	    <th scope="col" class="sortSelector"  nowrap="nowrap">$field.Title</th>
	#end
    <th width="100"  nowrap="nowrap">&nbsp;</th>
	</tr>
  </thead>
  <tbody>
	<s:iterator id="${name}" value="${name}s" status="rowstatus">
				<tr class="row_css">
		#foreach($field in $model.Fields)
    <td  nowrap="nowrap"><s:property value="${field.Name}"/>&nbsp;</td>
	#end
    <td  nowrap="nowrap"><a href="${model.Name}.do?action=show&id=<s:property value='id'/>"><img  alt="Show" title="Show" src="images/show_16x16.gif"/></a>
    <a href="${model.Name}.do?action=edit&id=<s:property value='id'/>"><img  alt="Edit" title="Edit" src="images/edit_16x16.gif"/></a>
    <a href="${model.Name}.do?action=delete&id=<s:property value='id'/>"><img  alt="Delete" title="Delete" src="images/delete_16x16.gif"/></a></td>
  </tr>
  	</s:iterator>
  </tbody>
</table>
</div>
</body>
</html>