<?xml version="1.0" encoding="UTF-8" ?>
<%@ page language="java" contentType="text/html; charset=UTF-8"
    pageEncoding="UTF-8"%>
<%@ taglib  prefix="s" uri="/struts-tags"  %>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" href="style/global.css" type="text/css" media="screen" />
<link rel="stylesheet" href="style/struts.css" type="text/css" media="screen" />
<link rel="shortcut icon" type="image/ico" href="images/favicon.ico" />
<title>insert show page title</title>
</head>
<body>
#set($name = $model.VariableName)
<h1>${name} 显示页面</h1>
<s:actionerror />
<s:fielderror></s:fielderror>
<div id="content">
  <table class="form">
#foreach($field in $model.Fields)
<tr>
  <td class="label_cell"><label class="label">$field.Caption:</label></td><td class="value_cell"><s:property  value='${name}.${field.Name}'/></td>
</tr>
#end
</table>
</div>
</body>
</html>